<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/5by7.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>App communicates using Core Bluetooth</string>
	</array>
</dict>
</plist>
